// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Manrope:wght@400;700&display=swap');

html{
    font-size: 10px;
    scroll-behavior: smooth;
    }
    
    body{
        background-color: #E1D4C9;
        font-size: 1.6rem;
        font-family: 'Inter', sans-serif; 
        
    }
    h1{
        // color: $color-text-light;
        font-size: 72px;
        font-weight: 600;
        line-height: 105%;
      }
      h2{
      font-size: 60px;
      font-weight: 600;
      line-height: 125%;
      color: $color-text-dark;
      font-style: normal;
      }
      
      h3{
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
      }
.colored-text{
  font-style: italic;
  color: $color-primary;
}