
.footer-container{
    display: flex;
    background: $color-hover-btn;
    border-radius: 40px;
    padding-bottom: 100px;
    @include tablet{
        flex-direction: column;
    }
}
.media__block{
    max-width: 498px;
    margin-left: 104px;
    padding-top: 52px;
    @include tablet{
        max-width: 498px;
    margin-left: 60px;
    padding-top: 48px
    }
}
.media__block h2{
    margin-bottom: 38px;
}


.conctacts__block{
    max-width: 538px;
    margin-left: 130px;
    padding-top: 109px;
    display: flex;
    flex-direction: column;
    @include tablet{
    margin-left: 58px;
    padding-top: 80px;
}
    }

.conctacts__block h3{
    margin-bottom: 39px;
    @include tablet{
        margin-bottom: 36px;
    }
}

.conctacts__block span:nth-child(2){
    padding-bottom: 16px;
    @include tablet{
        padding-bottom: 18px;
    }
}
.conctacts__block span:nth-child(3){
    padding-bottom: 16px;
    @include tablet{
        padding-bottom: 20px;
    }
}
.conctacts__block span:nth-child(4){
    font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
color:$color-text-light;
}
.conctacts__block span:nth-child(4) svg{
    margin-right: 6px;
}

.conctacts__block a{
    font-style: normal;
font-weight: 600;
line-height: 150%;
color: $color-border-light;
@include link-decoration;

&:after{
    background-color:$color-border-light;
    transform: translateX(-60%);
}
&:hover::after {
    width: 110%;
  }

  @include tablet{
    padding-left: 6px;
  }
}