.slider-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 38px
}
.slider-wrapper{
    display: flex;
    overflow: hidden;
    max-width: 480px;
}
.slider{
    display: flex;
    justify-content: center;
    position: relative;
    left: 0;
    transition: 0.6s ease;
}
.slider-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile{
        width: 350px;
    }
}
.slider-item img{
    width: 480px;
    height: 480px;
    @include mobile{
        width: 350px;
        height: 350px;
    }
}

.slider-item *{
    text-align: center;
    color:$color-text-dark;
}
.slider-item h3{
    margin-bottom: 17px;
    @include tablet{
        margin-bottom: 17px;
        margin-top: 28px;
    }
    @include mobile{
        margin-top: 24px;
    }
}
.slider-item p{
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 18px;
    max-width: 437px;
}
.slider-item span{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}



.slider-indicators{
    display: flex;
    justify-content: center;
    gap: 12px;
    
}
.slider-indicator{
    -webkit-appearance: none;
    position: relative;
    display: block;
    width: 40px;
    height: 4px;
    background-color:$color-border-light;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
.slider-indicator::before {
    content: "";
    display: block;
    height: 100%;
    width: 0;
    background-color: $color-border-dark;
    
}

.slider-indicator.active::before {
    width: 100%;
    animation: fillWidth 5s linear;
}
.slider-indicator:not(.active)::before {
    animation: fillWidthReversed 1s linear;
}

.slider-indicator.paused::before {
    animation-play-state: paused;
}

@keyframes fillWidth {
    from{
        width: 0%;
    }
    to {
        width: 100%;
    }
}
@keyframes fillWidthReversed {
    from {
        width: 100%;
    }
    to{
        width: 0%;
    }
}