.cozy-place{
    padding-bottom: 104px;
    
    @include tablet{
        padding-bottom: 56px;
    }
    @include mobile{
        padding-bottom: 77px;
    }

}
.cozy-place h2{
margin-bottom: 36px;
}
.cozy-place__grid-container{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.cozy__column{
    display: flex;
    flex-direction: column;
    width: 660px;
    gap: 40px;
    @include tablet{
        flex-grow: 1;
        gap: 40px;
    }
    
    
}
.img__box{
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
}
.img__box img{
    width: 100%;;
    border-radius: 20px;
    object-fit: cover;
    height: 100%;
    transition: 0.6s;
    transform: scale(1.1);

    &:hover{
        scale: 0.9;
    }
}
.img__box1{
    height: 585px;
    @include tablet{
        height: 594px;
    }
}
.img__box2{
    height: 430px;
    @include tablet{
        display: none;
    }
}
.img__box3{
    height: 430px;
    @include tablet{
        display: none;
    }
}
.img__box4{
    height: 585px;
   
}
