.header{
  padding-bottom: 18px;
}
// .burger{
//   display: none;
//   position: relative;

//   @include tablet{
//     display: inline;
//     width: 44px;
//     height: 44px;
//   }
//   &::after{
//     content: "";
//     position: absolute;
//     top: 52%;
//     left: 34%;
//     width: 16px;
//     height: 2px;
//     border-radius: 100px;
//     background: #665F55;

//     @include mobile{
//       top: 56%;
//       left: 32%;
//       width: 17px;
//     }

//   }
//   &::before{
//     content: "";
//     position: absolute;
//     top: 33%;
//     left: 34%;
//     width: 16px;
//     height: 2px;
//     border-radius: 100px;
//     background: #665F55;

//     @include mobile{
//     top: 37%;
//     left: 32%;
//     width: 17px
//   }

//   }

// }
.burger {
  display: none;
  position: relative;

  @include tablet {
    display: inline;
    width: 44px;
    height: 44px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 2px;
    border-radius: 100px;
    background: #665F55;
    transition: transform 0.3s ease; 
  }

  &::after {
    top: 52%;
    left: 34%;

    @include mobile {
      top: 56%;
      left: 32%;
      width: 17px;
    }
  }

  &::before {
    top: 33%;
    left: 34%;

    @include mobile {
      top: 37%;
      left: 32%;
      width: 17px;
    }
  }

  /* Анимация для превращения в крест */
  &.cross {
    &::after {
      transform: rotate(-45deg) translateY(-2px) translateX(1px);
    }

    &::before {
      transform: rotate(45deg) translateY(4px) translateX(4px);
    }
  }
}

.h1__menu-page{
  display: none;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 19px;
}
.header__nav{
  @include tablet{
    display: none;
  }
}

.nav-list {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 6px 0px;
}
.nav-item{
    padding-right: 40px;
  }

.nav-list li:last-child{
    padding-right: 0;
}

.nav-item a{
    font-weight: 600;
    line-height: 150%;
    font-style: normal;
    color:$color-text-dark;
    cursor:pointer;
    position: relative;
    
    @include link-decoration;
  }
  .nav-item a::after{
    background-color:$color-text-dark;
  }
  .header-menu__link {
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-bottom: 6px;
    color: #403F3D;
    @include link-decoration;

    &:after{
      background-color:$color-text-dark;
    }

    @include tablet{
      display: none;
    }
}



.header-menu__link svg{
  margin-left: 8px;
}